h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 35px;
    margin-left: 10px;
    color: #6f499d;
    }
    
    h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
    color: #6f499d;
    }
    
    h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
    color: #6f499d;
    }
    
    h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    color: #6f499d;
    }
    
    p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    }
    
    .formatpage {
    margin: 15px;
    padding: 10px; 
    }  

    
    #Text-Content {
        text-align: left;
      }
      
      #Text-Content #introduction {
        text-align: left;
      }
      
      #Text-Content #Frequently-Asked-Questions {
        text-align: left;
      }

      #container {
        padding: 2%;
    }

    #blogPosts {
    background-color: #6f499d;
    }