#navColor {
    background-color: #6f499d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

#accountButton {
    background-color: rgba(122,193,68,255);
}

#signUp {
    background-color: black;
}

#navLogo {
    width: 100px;
}

.nav-link {
    color: white;
    
}

.navbar-brand {
    color: white;
}

.navbar-collapse {
    justify-content:end;
    gap: 4%;
    width: 40%;
}