#navColor {
    background-color: rgb(203, 203, 0);
}

#accountButton {
    background-color: #6f489d;
}

#signUp {
    background-color: black;
}

#navLogo {
    width: 25%;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

